<!-- url is "/add" -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
    <!-- Header and Navigation bar-->
    <header class="container center">
        <div class="row">
            <h1 class="col-sm-4">Cars Listing</h1>
            <nav class="col-sm-8">
                <a class="col-sm-2 text-left" href="/">All Cars</a>
                <a class="col-sm-2 text-left" href="/add">Add Car</a>
                <a class="col-sm-2 text-left" href="/addcategory">Add Category</a>
            </nav>
            <p></p>
        </div>
    </header>

    <!-- form format -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Please submit a form for car below</h3>
                <!-- When doing forms, be sure to have th:field, th:if, th:errors tags-->
                <form action="#"
                      th:action="@{/process}"
                      th:object="${car}"
                      method="post">
                    <!-- hidden field -->
                        <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" id="type" th:field="*{type}" />
                        <span th:if="${#fields.hasErrors('type')}"
                              th:errors="*{type}"></span><br />
                    </div>
                    <div class="form-group">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" th:field="*{make}" />
                        <span th:if="${#fields.hasErrors('make')}"
                              th:errors="*{make}"></span><br />
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" th:field="*{model}" />
                        <span th:if="${#fields.hasErrors('model')}"
                              th:errors="*{model}"></span><br />
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="text" class="form-control" id="year" th:field="*{year}" />
                        <span th:if="${#fields.hasErrors('year')}"
                              th:errors="*{year}"></span><br />
                    </div>
                    <div class="form-group text-left">
                        <label for="mileage">Mileage</label>
                        <input type="text" class="form-control" id="mileage" th:field="*{mileage}" />
                        <span th:if="${#fields.hasErrors('mileage')}"
                              th:errors="*{mileage}"></span><br />
                    </div>
                    <!-- If not in stock, set numBooks to zero -->
                    <div class="form-group">
                        Category
                        <select th:field="*{category}" class="form-control input-md">
                            <option selected>Select Category</option>
                            <option th:each="option : ${categories}"
                                    th:value="${option.id}">[[${option.name}]]</option>
                        </select><br />
                        <!--<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Category</label>-->
                        <!--<select th:field="*{category}" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">-->
                            <!--<option selected>Choose...</option>-->
                            <!--<option value="1">One</option>-->
                            <!--<option value="2">Two</option>-->
                            <!--<option value="3">Three</option>-->
                        <!--</select>-->
                    </div>
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary my-1">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!--JSS Script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>