<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
    <!-- Header and Navigation bar-->
    <header class="container center">
        <div class="row">
            <h1 class="col-sm-4">Cars Listing</h1>
            <nav class="col-sm-8">
                <a class="col-sm-2 text-left" href="/">All Cars</a>
                <a class="col-sm-2 text-left" href="/add">Add Car</a>
                <a class="col-sm-2 text-left" href="/addcategory">Add Category</a>
            </nav>
            <p></p>
        </div>
    </header>

    <section class="container">
        <h3>Please add a name for the category you'd like to add.</h3>
        <form action="#"
              th:action="@{/processcategory}"
              th:object="${category}"
              method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label for="category_name">Name of Car Category</label>
                <input type="text" th:field="*{name}" />
                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"></span>
                <small id="nameHelp" class="form-text text-muted">Please be sure to add a category that is not already listed.</small>
            </div>
            <div class="form-group">
                <span th:text="${message}"></span><br />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

    <!--JSS Script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>